<div class="page" id="page">
	{{> organisms-header }}
	<div role="main">
	    {% for name in emergency %}
			{{> molecules-alert }}
		{% endfor %}
		{% for name in hero %}
			{{> molecules-block-hero }}
		{% endfor %}

		<div class="g g-3up">
			{% for name in touts %}
				<div class="gi">
					{{> molecules-inset-block }}
				</div>
			{% endfor %}
		</div><!--end 3up-->

		<hr />

		<div class="l-two-col">
			<div class="l-main">
				<section class="section latest-posts">
					<h2 class="section-title">Latest Posts</h2>
					<ul class="post-list">
						{% for latestPost in latestPosts %}
							<li>{{> molecules-media-block }}</li>
						{% endfor %}
					</ul>
					<a href="#" class="text-btn">View more posts</a>
				</section>
			</div><!--end .l-main-->

			<div class="l-sidebar">
				{{> organisms-recent-tweets }}
			</div><!--end .l-sidebar-->
		</div><!--end .l-two-col-->
	</div><!--End role=main-->
	{{> organisms-footer }}
</div>
